<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
<h1>Music Chart</h1>
<h3>Most popular musician : {{ most[0][0] }}</h3>
    <thead>
    <th>Artist</th>
    <th>Title</th>
    <th>Album</th>
    <th>Plays</th>
    </thead>

    <tbody>
    {% for data in dataset %}
    <tr>
        <td>{{ data[0] }}</td>
        <td>{{ data[1] }}</td>
        <td>{{ data[2] }}</td>
        <td>{{ data[3] }}</td>
    </tr>
    {% endfor %}
    </tbody>
    <form action="/search">
        <input type="submit" value="검색">
    </form><br>
    <form action="/new">
        <input type="submit" value="신규 등록">
    </form><br>
</table>

</body>
</html>